.inputOption {
    display: flex;
    align-items: center;
    color: grey;
    padding: 10px;
    cursor: pointer;
}

.inputOption > h4 {
    margin-left: 10px;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}